#dropzone {
  position: relative;
  border: 2px solid rgb(197,197,197);
  border-radius: 20px;
  color: black;
  font: bold 13px/100px arial;
  height: 100px;
  margin: 30px auto;
  text-align: center;
  width: 700px;
}

#dropzone.hover {
  border: 2px solid rgb(54,98,44);
  color: rgb(54,98,44);
  font: bold 13px/100px arial;
}

#dropzone.dropped {
  border: 2px solid rgb(197,197,197);
  color: black;
  font: bold 13px/100px arial;
}

#dropzone div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#dropzone img {
  border-radius: 10px;
  vertical-align: middle;
  max-width: 95%;
  max-height: 95%;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
}

.preshow{
	border-radius: 15px;
  
  margin-right: 10px;
}
.divpreshow{
  border-radius: 15px;
  margin-right: 10px;
}


.imgcontainer{
  display: inline-block !important;
}

.delete{
  background: rgba(255,255,255, .8);
  position: absolute;
  width: 200px;
  height: 125px;
  margin-right: 15px;
  margin-top: -125px;
  display: none;
}

.delete img{
  vertical-align: middle;
  top:50%;
  margin-top: -30px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
}